*{
	font-family: Arial;
}
h1 {
	color: white;
	text-align: center;
}
h3{
	margin-left : 20px;
}
p {
	color: gray;
	margin-left : 20px;
}
input {
	margin-left : 20px;
	margin-bottom: 10px;
}
header{
	margin: 0px;
	padding: 10px;
	background-color: rgba(0,0,0,1);
}
body{
	margin: 0px;
}
nav{
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
	background-color: #000000;
	padding: 5px;
}
nav a{
	padding: 5px;
	margin: 10px;
	color: #FFFFFF;
	text-decoration: none;
	border: solid #FFFFFF 2px;
}
a:hover{
	border-color: #000000;
	color: #000000;
	background-color: #FFFFFF;
}