*{
	font-family: Arial;
}
h1 {
	color: white;
	text-align: center;
}
h2{
	margin: 30px 20px;
}
p {
	color: gray;
}
input{
	margin-bottom: 10px;
}
header{
	margin: 0px;
	padding: 10px;
	background-color: rgba(0,0,0,1);
	box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
body{
	margin: 0px;
}
div{
	margin:20px;
}
nav{
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
	background-color: #000000;
	padding: 10px;
	box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
nav a{
	padding: 5px;
	margin: 10px;
	color: #FFFFFF;
	text-decoration: none;
	border: solid #FFFFFF 2px;
}
a:hover{
	border-color: #000000;
	color: #000000;
	background-color: #FFFFFF;
}